:root {
    font-family: 'Play', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-grow: 1;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F2471354.gif&f=1&nofb=1&ipt=01b30e8bb65f94811aca1442390657ea0e287a824f9806618dc707354ff74393&ipo=images);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_grid {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    width: 100%;

}

.main_grid > *:nth-child(1){
    flex-grow: 0.2;
}

.main_grid > *:nth-child(2){
    flex-grow: 0.7;
    padding-bottom: 10%;
}

.main_grid > *:nth-child(3){
    flex-grow: 0.1;
    padding-top: 15%;
    padding-bottom: 5%;
    
}

.content_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100%;
}

.content_grid > *:nth-child(2){
    background: rgba(255,255,255,0.1);
    border-radius: 10%;
    backdrop-filter: blur(5px);
    box-shadow: -15px 17px 17px rgba(10,10,10,0);
}

.content_grid > *{
    flex: 1;
}

@media (max-width: 768px) {
    .content_grid > *:nth-child(1) {
        flex-grow: 0.1;
    }
    .content_grid > *:nth-child(3) {
        flex-grow: 0.1;
    }
    body {
        background-image: url("../images/girl_rotate.gif");
    }
}